* {
    padding: 0;
    margin: 0;
}

.main-game {
    height: 100vh;
    width: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'red green' ' yellow blue';
    grid-gap: 10px;
    border: 1px solid rgb(185, 185, 185);
    background-color: #b9b8b9;
    border-radius: 100%;
    width: 400px;
    height: 400px;
}

.blue {
    grid-area: blue;
    background-color: rgb(40, 40, 233);
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: red;
    background-color: rgb(219, 24, 24);
    border-top-left-radius: 100%;
}

.green {
    grid-area: green;
    background-color: rgb(6, 139, 6);
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: yellow;
    background-color: rgb(202, 202, 14);
    border-bottom-left-radius: 100%;
}

.selected {
    opacity: 0.4;
}